/** Add css rules here for your application. */
/* Rosa-Farbton: #F3E367 */
*, body, html{
	margin-top: 0px;
	padding: 0px;
	font-family: 'Product Sans';
	
}

html {
	min-width: 100%;
	background-image: linear-gradient(#7F8688, white);
}

body{
	background-image: linear-gradient(#7F8688, white);
}


#Login {
	float: right;
	padding: 5px;
	background-color: #00ff40;
	
}
#Head {
	margin-top: 0px!important;
	padding-left: 14px;
	height: 100px;
	background-color: #6f7779;
	border: 2px solid  #F3E367;
}


#Main {
	float: right;
	padding: 14px;
    width: calc(75% - 56px);
    min-height: 100vh;
	color: grey;
	
}

#Main table{
	width: 100%;
}

.Pinboard{
	height: 300px;
	background-color: white;
	width: 100%;
}
/*Hier wird die Profilspalte definiert*/
.profile{
	background-color: #6f7779;
	color: white;
	font-size: 3em;
	border: 1px solid white;
	max-width: 100%!important;
	height: 200px!important;
	margin-bottom: 25px;
	padding: 15px;
	margin-left: 5px;
}

.profile table td{
	font-size: 14pt!important;
	min-width: 120px;
}

.profile table td .submit-userProfileButton{
	margin-top: 15px;
	margin-left: 0px;
}

.avatar {
	
	height: 50px;
	width: 50px;
	padding: 2px;
	border: 2px solid #F3E367;
	border-radius: 100px;
	margin-right: 0px;
}

.avatar_gn{
	height: 50px;
	width: 50px; 
	padding: 2px;
	border: none;
	margin-right: 0px;
}

.postInput{
	width: 500px;
	height: 80px;
	text-align: top;
	border: 1px solid #F3E367;
	padding: 10px;
	margin-top: 15px;
	background-color: #6f7779;
	color: white;
	font-size: 12pt;
	
	}

.submit{
	background-color: #F3E367;
	color: #7F8688;
	width: 150px;
	height: 35px;
	padding: 5px;
	border: none;
	margin: 5px;
	margin-left: 0px;
}

.label{
	color: black;
}


#Nav {
	float: left;
	padding: 14px;
    width: 25%;
    min-height: 100vh;
    height: 100%;
	paddin-bottom: 100%;
	margin-bottom: -100%;

}

.btnPanel{
	margin-bottom: 20px;
}

.Header{
	text-align: left!important;
	color: white;
	margin-bottom: 7px!important;
	margin-top: 20px;
	font-size: 1.5em;
	}

#logo{
	margin-top: 12px;
	height: 80px;
	border-radius: 10px;
}

.Header_user{
	color: white;
	font-size: 20pt;
	margin-bottom: 20px;
	
}

div#Subs {

    width: 95%;
    height: 30em;
	padding: 5px;
	background-color: white;
	border-right: 3px solid #00868B;
}

.com-google-gwt-user-cellview-client-CellList-Style-cellListEvenItem.com-google-gwt-user-cellview-client-CellList-Style-cellListKeyboardSelectedItem, 
.com-google-gwt-user-cellview-client-CellList-Style-cellListOddItem.com-google-gwt-user-cellview-client-CellList-Style-cellListSelectedItem {
	background: #F3E367 !important;
	background-image: none!important;
	color: #7F8688!important;
	border: 2px solid #F3E367;
	
}
/*CellList*/
.com-google-gwt-user-cellview-client-CellList-Style-cellListOddItem, .com-google-gwt-user-cellview-client-CellList-Style-cellListEvenItem{
	background-color: ##F3E367 !important;
	color: white!important;
	
	
}

.subs{
	margin-top: 7px;
}

.subslist{
	padding: 10px;
	border: 2px solid #F3E367;
	min-width: 250px;
}


div#Search {
    width: 80%;
    height: 15em;
	padding: 70px;
	background-color: #804000;
	border-right: 3px solid #00868B;
	min-height: 700px;
	padding: 20px;
	margin-top: 200px;
	background-color: white;
	font-size: 12pt;
}
/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-align: center;
  
  
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
#contactCell{
	
}
#itemSymbol{
	width: 15px;
	height: 15px;
}


/*Signout Button*/
.signout{
	position: absolute;
    right: 4px;
    top: 20px;
	background-color: #F3E367;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	padding: 12px 18px;
	text-decoration: none;
	margin: 0px 10px;
}
.signedInUser{
	position: absolute;
	right: 4px;
	top: 80px;
	text-align: right;
}
/*SignIn Button*/
.signin{
	background-color: grey;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 9px 4px;
    text-decoration: none;
    margin: 10px 0px;
}
.signin:hover{
	background-color: #49ba8f;
}
.signout:hover {
	background-color: #c05c5f;
}
.label_test{
	width: 225px;
    font-size: 14px;
}
.signin_btn{
	text-decoration: none;
	background-color: darkgreen;
	color: white;
	padding: 16px;
	border-radius:12px;
	font-weight: bold; 	
}



/** Labels for SearchPanel **/ 
.sp_profile_btn{
	width:38%;
	margin-right: 2%;
	margin-bottom: 10px;
	padding: 10px;
	background-color: blue;
 	white-space:nowrap;
 	border-radius:8px;
}
.sp_add_btn{
	padding: 10px;
 	white-space:nowrap;
 	margin-bottom: 10px;
 	margin-right: 2%;
 	width:18%;
 	border-radius:8px;
 	padding: 10px;
}
.suggestbox{
	
   width: 250px;
   color: black;
   padding: 10px;
   margin-top: 30px;
   margin-bottom:5px;
   background-color:white;
   font-size: 14px;
}

.gwt-SuggestBoxPopup{
	position: absolute;
}

.report_btn{
	width: 38%;
	padding: 10px;
	background-color: grey;
 	margin-bottom: 10px;
 	margin-right: 2%;
 	border-radius:8px;
}
.search_lbl{
	width: 100%;
	font-color: black;
	font-size: 20px;
 	margin-bottom: 10px;
 	margin-right: 10px;
 	margin-left: 0px;
}
.comment_lbl{
	width: 100%;
	padding: 10px;
	font-color: blue;
	font-size: 20px;
 	margin-bottom: 10px;
 	margin-right: 10px;
 	padding: 10px;
 	text-decoration: underline;
 	
}

.commentInput{
	width: 300px;
	font-size: 10pt;
	padding: 3px;
}

.changeLabel{
	margin: 10px;
	margin-left: 0px;
	margin-top: 0px;
	padding: 5px;
	border: 1px solid black;
	font-size: 8pt;
}

.commentButton{
	background-color: #F3E367;
	padding: 5px;
	margin: 10px;
	color: #7F8688;
	margin-top: 0px;
	border: none;
	margin-right: 10px;
	margin-left: 0px;
	min-width: 75px;
}

.commentBox{
	background-color: white;
	border: 2px solid #F3E367;
	padding: 15px;
}

.comment_lbl *:hover{
	font-color: red;
}
.posttext_lbl{
	color: black;
    font-size: 16px;
}

.content{
	font-size: 14pt;
	margin: 25px;
	color: white;
}

.postuser_lbl{
	color: white;
    font-size: 11pt;
    
}
.postdate_lbl{
	color: white;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 8px;
    margin-left: 6px;
}
.postbox{
	
	margin: 5px;
	font-color: white;
	background-color: #6f7779;
	padding: 15px;
	border: 1px solid white;
	
}

.updatePostBox{
	width: 400px;
	height: 250px;
	background-color: white;
	padding: 15px;
	border: 2px solid #F3E367;
}

.updatePostInput{
	width: 300px;
	min-height: 100px;
	margin-bottom: 15px;
	padding: 15px;
	font-size: 10pt;
}

.scrollPanelPostUpdate{
	width: 350px;
	height: 350px;
}


.postbox tbody tr td table{
	background-color: #6f7779;
	
}

.buttonPanel tbody tr td{
	max-width: 20%;
	float: left;
}

.cellList *{

}


.report{

	width: 160px;
	padding: 10px;
	background-color: #F3E367;
 	color: #7F8688;
 	position: absolute;
 	margin-left: 80%;
 	margin-top: -60px;
 	border: none;
}


.cellList{

	font-family: 'Lato', sans-serif;
    font-size: 12px;
	
}

.cellList *:hover{
    background-color: lightblue !important;
}


.cellList *:focus, .cellList *:active, ,.cellList *:checked{
    background-color: white !important;
}
